@media only screen and (max-width: 600px) {
  .offers {
    .card_offer {
      flex-direction: column-reverse;
      .data {
        .title, .text {
          width: 100%;
        }
        .title {
          font-size: 1.5rem;
          text-align: center;
          margin-top: 1rem;
        }
        .text {
          font-size: .9rem;
          text-align: center;
        }
        .btn {
          display: block;
          margin: 0 auto;
          width: fit-content;
        }
      }
    }
  }
  footer {
    padding: 3% 1rem 0;
    .logo-col {
      img {
        width: 60%;
      }
      p {
        width: 100%;
      }
    }
    .col-links {
      ul {
        display: block;
        width: 100%;
        li {
          width: 100%;
        }
      }
    }
  }
}
